@@ -1,107 +1,107 @@
/* Region Start: General CSS for whole website*/
::-webkit-scrollbar {
  width: 0;
}
/* Region End: General CSS for whole website*/

/* Region Start: Main CSS for Containers*/
.mainContainer{
  min-width: 1200px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 5px;
}

.topContainer{
  background-color: #AFE1FF;
  height: 200px;
  min-width: 1200px;
  width: 95%;
  border: 5px solid black;
  border-radius: 5px;
}

.progressBarContainer{
  background-color: #bdd1c5;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  border-bottom: 1px solid black;
}

.problemTextContainer{
  background-color: #f5f5dc;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.botContainer{
  height: 450px;
  min-width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.secondaryBotContainer{
  height: 100%;
  min-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-right: -25px;
}

/*Chat containers*/
.chatContainer{
  background-color: #e8b298;
  width: 25%;
  height: 440px;
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 5px;
}

.chatLogContainer{
  height: 80%;
  width: 90%;
  background-color: white;
  overflow-y: scroll;
  border-radius: 5px;
  border: 1px solid black;
}

.chatTextContainer{
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
}

.botMessageContainer{
  background-color: white;
  color: black;
  border-radius: 10px;
  text-align: left;
  margin-top: 10px;
  max-width: 75%;
  max-width: 150%;
  margin-left: 5px;
  padding: 5px 5px 5px 5px;
  overflow-wrap: break-word;
  border-radius: 10px; 
  text-align: right;
  margin-top: 10px;
  max-width: 75%;
  max-width: 150%;
  margin-left: auto;
  margin-right: 5px;
  padding: 5px 5px 5px 5px;
  overflow-wrap: break-word;
  border: 1px solid grey;
}

/*Interactables containers*/
.interactContainer{
  background-color: grey;
  min-width: 95%;
  max-width: 95%;
  height: 65%;
  border: 5px solid Black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  pointer-events: none;
}

.interactContainerSelected{
  background-color: #d4a29c;
  min-width: 95%;
  max-width: 95%;
  height: 65%;
  border: 5px solid rgb(255, 92, 92);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
}

.interactablesRepresentationContainer{
  width: 90%;
  height: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.representationContainer{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.picsContainer{
  min-height: 90%;
  min-width: 90%;
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.individualRepresentationContainer{
  background-color: #f8ebdb;
  width: 45%;
  height: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  border: 1px solid black;
  margin: 1px;
}

.interactablesActionContainer{
  width: 10%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/*numSen containers*/
.numSenContainer{
  background-color: grey;
  width: 95%;
  height: 30%;
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  border-radius: 5px;
  pointer-events: none;
}

.numSenContainerSelected{
  background-color: #d4c5cc;
  width: 95%;
  height: 30%;
  border: 5px solid rgb(255, 92, 92);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  border-radius: 5px;
}

.operandContainer{
  width: 15%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.operatorContainer{
  width: 20%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.nsActionContainer{
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

/* Region End: Main CSS for features*/

/* Region Start: Other Misc Items*/
.circleBase {
  border-radius: 50%;
}

.uncheckedCircle {
  width: 25px;
  height: 25px;
  background: white;
  border: 3px solid #000;
}

.progressCircle {
  width: 25px;
  height: 25px;
  background: #ededb7;
  border: 3px solid #000;
}

.checkedCircle {
  width: 25px;
  height: 25px;
  background: #7da27e;
  border: 3px solid #000;
  
}

.problemText{
  margin: 15px 15px 15px 15px;
}

.messageInput{
  width: 80%;
}

.messageButton{
  width: 15%;
}

.operatorUnchosen{
  background-color: transparent;
}

.operatorChosen {
  background-color: yellow;
}

.upArrow{
  background-color: transparent;
  background-image: url(../src/media/upArrow.svg);
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
  border: 0;
}

.cancel{
  background-color: transparent;
  background-image: url(../src/media/cancel.svg);
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
  border: 0;
  background-color: Tomato;
  border-radius: 50%;
}

.check{
  background-color: transparent;
  background-image: url(../src/media/check.svg);
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
  border: 0;
  background-color: palegreen;
  border-radius: 50%;
}

.downArrow{
  background-color: transparent;
  background-image: url(../src/media/downArrow.svg);
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
  border: 0;
}

.messageSend{
  height: 50px;
  width: 50px;
  background: transparent;
  align-items: center;
  justify-content: center;
}

.send{
  background-color: transparent;
  background-image: url(../src/media/send2.svg);
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

.individualOperatorContainer{
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.individualOperatorContainer:hover, .cancel:hover, .check:hover{
  background-color: rgb(73, 181, 218);
  cursor: pointer;
}

.add{
  background-image: url(../src/media/add.svg);
  background-size: 100% 100%;
  height: 30px;
  width: 30px;
  background-color: transparent;
}

.sub{
  background-image: url(../src/media/sub.svg);
  background-size: 100% 100%;
  height: 30px;
  width: 30px;
  background-color: transparent;
}

.div{
  background-image: url(../src/media/div.svg);
  background-size: 100% 100%;
  height: 30px;
  width: 30px;
  background-color: transparent;
}

.mul{
  background-image: url(../src/media/mul.svg);
  background-size: 100% 100%;
  height: 30px;
  width: 30px;
  background-color: transparent;
}

button{
  cursor: pointer;
  border: none;
}

.samplepic{
  height: 43px;
  width: 43px;
  background-color: maroon;
  margin: 3px 3px 3px 3px;
}

.messageInput {
  width: 80%;
  height: 60%;
  font-size: 15px;
  font-weight: bold;
}

.numSenInput{
  width: 100%;
  height: 50%;
  font-size: large;
  font-weight: bold;
}

.textBox{
  font-weight: bold;
  font-size: 13pt;
}

/* Here starts the items css */

.fish{
  height: 70px;
  width: 70px;
  background-image: url(../src/media/items/fish.png);
  background-size: 100% 100%;
  margin: 3px 3px 3px 3px;
}

.egg{
  height: 70px;
  width: 70px;
  background-image: url(../src/media/items/egg.png);
  background-size: 100% 100%;
  margin: 3px 3px 3px 3px;
}

.flower{
  height: 70px;
  width: 70px;
  background-image: url(../src/media/items/flower.png);
  background-size: 100% 100%;
  margin: 3px 3px 3px 3px;
}

.guava{
  height: 70px;
  width: 70px;
  background-image: url(../src/media/items/guava.png);
  background-size: 100% 100%;
  margin: 3px 3px 3px 3px;
}

.marble{
  height: 70px;
  width: 70px;
  background-image: url(../src/media/items/marble.png);
  background-size: 100% 100%;
  margin: 3px 3px 3px 3px;
}

.pencil{
  height: 70px;
  width: 70px;
  background-image: url(../src/media/items/pencil.png);
  background-size: 100% 100%;
  margin: 3px 3px 3px 3px;
}

.ready{
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
}

.notready{
  background-color: rgb(228, 139, 228);
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
 
.landingButton {
  background-color: rgb(177, 34, 177);
  border: solid 5px black;
  border-radius: 50%;
  width: 111px;
  height: 111px;
  font-size: x-large;
  font-weight: bolder;
  width: 163px;
  height: 89px;
  border-radius: 25px;
  font-size: large;
  font-weight: bold;
}

.landingButton:hover{
  background-color: khaki;
}

.noShowMeFirst {
  background-color: rgb(207, 122, 11);
  border: solid 5px black;
  border-radius: 50%;
  width: 111px;
  height: 111px;
  font-size: large;
  font-weight: bolder;
  width: 163px;
  height: 89px;
  border-radius: 25px;
  font-size: large;
  font-weight: bold;
  margin-left: -850px;
  margin-right: -62px;
  margin-bottom: -85px;
}

.noShowMeFirst:hover{
  background-color: khaki;
}

.nExit {
  background-color: rgb(207, 24, 11);
  border: solid 5px black;
  border-radius: 50%;
  font-size: large;
  font-weight: bolder;
  width: 163px;
  height: 89px;
  border-radius: 25px;
  font-size: large;
  font-weight: bold;
  margin-left: 850px;
  margin-right: 20px;
  margin-bottom: 120px;
}

.nExit:hover{
  background-color: khaki;
}

.notend{
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
}

.end{
  background-color: rgb(228, 139, 228);
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo{
  height: 450px;
  width: 450px;
  background-image: url(../src/media/cblogo.png);
  background-size: 100% 100%;
  z-index: 1000;
}

.landingText{
  font-size: xx-large;
  font-weight: bolder;
  z-index: 1000;
}
  



